.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

    & img {
      width: 100px;
      height: 100px;
    }

    & .product-item__name {
        font-size: 20px;
        font-weight: bold;
    }

    & .product-item__price {
        font-size: 18px;
    }

    & button {
        background-color: transparent;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        padding: 3px;
        margin-top: 10px;
    }
}